body{
    font-family: 'Montserrat',sans-serif;
    background-color: #DBE2EF;
}
/* nav */

nav{
    background-color: #112D4E;
}

.navbar-brand {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    margin-left: 1rem;
}

.nav-item a {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
}

.nav-item{
    padding: 0 1rem;
}
#contact{
    background-color: #3F72AF;
    color: white;
    padding: 3% 10% 4%;
    text-align: center;
}

#contact div a i{
    padding: 0 1% 2%;
    color: white;
}

/* card for movies/hobbies/courses */

.card{
    margin: 5% 15%;
    background-color: #F9F7F7;
}