body{
    background-color: #DBE2EF;
}

/* nav */

nav{
    background-color: #112D4E;
}
/* card */


.card{
    margin: 2.5% 15%;
    background-color: #F9F7F7;
}
img{
    width: 100%;
    padding: 3% 5%;
}
.card-footer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-footer a, .card-footer button{
    margin: 0 2%;
}
.card-footer button{
    border-radius: 100%;
}

/* footer */
#contact{
    background-color: #3F72AF;
}